# Backend (Spring Boot)
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/*.jar
backend/*.war
backend/*.ear
backend/*.zip
backend/*.tar.gz
backend/*.rar
backend/*.log
backend/logs/

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
*.iml
*.ipr
*.iws

# Sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
*.properties